<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/upload"><button type="button" class="btn btn-primary btn-lg">upload file</button></a>

    <!--폴더 생성 버튼-->
    <button type = "button" id="btn_folder_new">폴더 추가</button>

    

    <tr>
      <td><a href="/file">전체 폴더</a></td>
    </tr>
    <% for(let folder of folders) { %>
      <tr>
        <td width><a href="/file?folderId=<%= folder.id %>"><%= folder.foldername %></a></td>
      </tr>
    <% } %>


    <!-- 파일 목록 보여주기 -->
    <% for(let file of files) { %>
      <tr>
        <td><a href="<%=file.fileurl%>"><%=file.filename %></a></td>
        <!-- <td width="20%"><%=file.createdAt %></td> -->
      </tr>
    <% } %>



    <form action="/search" method="get">
      <input type="text" name="query" placeholder="키워드를 입력하세요.">
      <input type="submit" value="Search" >
    </form>


    



    <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
		<!-- <script src="../public/javascripts/file.js"></script> -->
  </body>
</html>
